name: GitHub Metrics

on:
  schedule:
    - cron: '0 0 * * *' # Run daily at midnight UTC
  workflow_dispatch: # Allow manual triggering

jobs:
  generate-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Grant write permission to the GITHUB_TOKEN

    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          plugin_isocalendar: yes
          plugin_achievements: yes
          plugin_activity: yes
          plugin_repositories: yes
          plugin_languages: yes
          output_filename: metrics.svg
